$green-spofity: #32d055;
$dark-green-spofity: #1f8535;

.container {
    p, h1, h2, h3, span {
        display: block;
        width: 100%;
    }

    .error {
        color: red;
        font-weight: 500;
    }

    .warning {
        color: yellow;
        font-weight: 500;
    }

    .section-title {
        color: white;
        margin: 5px 0 5px 25px;
        font-size: 2em;
        font-weight: 700;
    }

    p {
        color: black;
        text-align: center;
    }

    h1 {
        color: $green-spofity;
        font-size: 3em;
        font-weight: 800;
    }
    
    h2 {
        color: $green-spofity;
        font-size: 2em;
        font-weight: 700;
    }

    h3 {
        color: $green-spofity;
        font-weight: 600;
    }

    span {
        color: $dark-green-spofity;
        text-align: center;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
        transition: .1s;
        
        &:hover {
            color: $green-spofity;
        }
    }
}