.container {
    margin-top: 50px;
    .cards-container {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0 50px 0 50px;
        div{
            margin-top: 15px;
            & > p {
                color: white;
                margin-left: 10px;
            }
        }
    }
}