$green-spofity: #32d055;
$box-shadow-card: 0 0 10px -5px black;

.container {
    & > div:first-child {
        margin: 15px;
    }
    .song-update-container {
        background-color: rgba(0, 0, 0, 0.2);
        margin: 15px;
        display: grid;
        padding-right: 15px;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        box-shadow: $box-shadow-card;

        & > div {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            & > p {
                color: $green-spofity;
                font-size: 0.8em;
            }

            & > div > p, & > div > div > p {
                color: white;
                font-size: 0.8em;
            }
        }

        h3 {
            margin-left: 15px;
        }

        img {
            width: 50px;
        }

        input {
            margin-bottom: 0;
        }
    }
}