$midnight-blue: #7e4dda;
$dark-red: #8b0000;
$light-green: #94ce3d;
$foreground: black;
$green-spofity: #32d055;
$font-spofity: 'Montserrat', sans-serif;
$dark-green-spofity: #1f8535;
$dark-green-spofity-lucid: #1f8435b2;
$dark-gray-font: rgb(68, 68, 68);
$light-gray-spofity: rgb(226, 226, 226);
$font-black: rgb(27, 27, 27);
$box-shadow-card: 0 0 10px -5px black;

@mixin set-margins-to-zero {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes change-grad-color{
    0%{
        background-position: top left;
    }

    100%{
        background-position: bottom right;
    }
}

@keyframes change-text-grad{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}

body{
    min-height: 100vh;
    margin: 0;
    color: #333;
    background: #ddd;
    background-image: linear-gradient(to top left, $midnight-blue, $light-green, $midnight-blue);
    background-size: 400%;
    animation: change-grad-color 20s infinite alternate;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px -5px black;
    z-index: 1 !important;
    img {
        width: 90px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 3em;
        font-weight: 800;
    }
}

.title-content{
    background: $foreground;
    width: 500px;
    padding: 2em;
    margin-top: -3%;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.title{
    margin: 0 0 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 6rem;
    color: #ee6352;
    line-height: 0.8;
    margin: 0;

    background-image: linear-gradient(to right, $midnight-blue, $dark-red, $light-green, $dark-red, $midnight-blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-size: 300%;
    animation: change-text-grad 7s infinite alternate;

}

.option-bar{
    height: 550px;
    width: 200px;
    background-color: $foreground;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 2%;
    overflow-y: auto;
    opacity: 0.7;
    .playlist-search-bar{
        width: 125px;
        margin: 15px;
        margin-left: 15px;
        border-radius: 10px;
    }
    .playlist-search-img{
        height: 20px;
        width: 20px;
        position: absolute;
        left: 235px;
        top: 180px;
        border-radius: 10px;
        background-color: white;
    }
    .premium-option{
        height: 100px;
        width: 180px;
        margin: 10px;
        border-radius: 30px;
        background-color: gold;
        font-size: 32px;
        font-style: italic;
    }
    .add-playlist-option{
        background-color: gold;
        height: 40px;
        width: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    .playlist{
        background-color: white;
        height: auto;
        width: 180px;
        margin: 10px;
        border-radius: 10px;
    
        .playlist-name{
            margin: 5px;
            text-align: center;
        }
    }
}

.content-container{
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;

    .song-search-bar{
        border-radius: 25px;
        background-image: url('../res/searchIcon.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin: 25px;
        width: calc(100% - 50px);
        box-sizing: border-box;
        background-position: calc(100% - 10px);
    }
}

.page-container{
    height: calc(100vh - 155px);
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.user-options {
    background-color: white;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
    }
    .section-selector {
        height: 40px;
        padding-left: 25px;
        display: flex;
        align-items: center;
        p {
            font-family: $font-spofity;
            font-weight: 600;
            color: $green-spofity;
        }
    }
    .selected {
        background-color: $light-gray-spofity;
        padding-left: 30px;
        p {
            color: $dark-green-spofity;
        }
    }
    .premium-button {
        width: auto;
    }
}

.premium-button {
    background-color: $green-spofity;
    border-radius: 25px;
    width: 25%;
    height: 40px;
    margin: 20px;
    box-shadow: 0 5px 20px -8px black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    p {
        color: $dark-green-spofity;
        font-family: $font-spofity;
        font-weight: 800;
        transition: 0.2s;
    }
    &:hover {
        transform: scale(1.1);
        p {
            font-size: 1.1em;
        }
    }
}

.become {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > p {
        color: white;
        font-family: $font-spofity;
        font-size: 1em;
    }
    .form-artist {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        & > p {
            color: white;
            font-family: $font-spofity;
        }
        & > input {
            width: 50% !important;
            margin-top: 25px !important;
        }
    }
    & > input {
        width: 40% !important;
        margin-top: 25px !important;
    }
}

.statistics {
    padding-bottom: 50px;
    h1 {
        font-family: $font-spofity;
        color: white;
        margin: 0 0 0 25px;
    }
    & > div {
        margin-top: 50px;
        h2 {
            font-family: $font-spofity;
            color: $green-spofity;
            font-weight: 800;
            margin: 0 0 0 50px;
        }
        & > p {
            font-family: $font-spofity;
            color: white;
            margin: 5px 0 0 75px;
        }
    }
    .recent-albums {
        & > div:first-of-type {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 0 50px 0 50px;
            & > p {
                margin: 10px;
                font-family: $font-spofity;
                color: white;
            }
        }
    }
    .popular-artists {
        & > div:first-of-type {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin: 0 50px 0 50px;
            div{
                margin-top: 15px;
                & > p {
                    font-family: $font-spofity;
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }
    .subscription-count {
        & > div {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr;
            margin: 10px 50px 0 50px;
            margin-left: 75px;
            background-color: rgba(0, 0, 0, 0.25);
            box-shadow: 0$box-shadow-card;
            p {
                font-family: $font-spofity;
                color: white;
                padding: 5px 0 5px 25px;
                font-size: 1.5em;
            }
            p:nth-child(2n + 1) {
                padding: 10px 0 10px 50px;
            }
            & > p:nth-child(1), p:nth-child(2) {
                font-size: 1.7em;
                font-weight: 600;
                padding: 10px 0 10px 25px;
                border-bottom: 1px solid black;
            }
            p:nth-child(2n){
                text-align: center;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .largest-production-artists {
        & > div:first-of-type {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin: 0 50px 0 50px;
            div{
                margin-top: 15px;
                & > p {
                    font-family: $font-spofity;
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }
    .popular-genres {
        & > div:first-of-type {
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin: 0 50px 0 50px;
            div{
                margin-top: 15px;
                & > p {
                    font-family: $font-spofity;
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    & > div > p {
        color: white;
        font-family: $font-spofity;
        position: relative;
        left: 10px;
        font-size: 0.9em;
    }
}

.album {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box-shadow-card;
    & > a:first-of-type {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 20px 0 20px;
        img {
            width: 90%;
            transition: 0.5s;
            &:hover {
                transform: scale(1.05);
            }
        }
        h3 {
            margin-top: 10px;
            color: white;
            font-size: 1em;
            font-family: $font-spofity;
            padding: 0;
            transition: 0.5s;
            &:hover {
                color: $green-spofity;
                font-size: 1.11em;
            }
        }
    }
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        a {
            display: block;
            text-decoration: none;
            p {
                color: $light-gray-spofity;
                font-family: $font-spofity;
                font-size: 0.9em;
                margin: 0 3px 0 3px;
                transition: 0.5s;
                &:hover {
                    color: $green-spofity;
                    font-size: 0.94em;
                }
            }
        }
    }
    & > p {
        margin: 10px 0 5px 0;
        font-family: $font-spofity;
        font-size: 0.8em;
        color: $light-gray-spofity;
    }
}

.song {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: $box-shadow-card;
    & > div {
        & > button {
            width: 90%;
            height: 0;
            position: absolute;
            background-color: transparent;
            padding-bottom: 90%;
            display: flex;
            border: 0;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
            div {
                width: 0;
                height: 0;
                display: block;
                position: relative;
                border-left: 40px solid transparent;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                top: 100px;
                transition: 0.5s;
            }
            .playing {
                border-left: 40px solid $green-spofity;
                transform: scale(1.5);
            }
            &:hover {
                div {
                    border-left: 40px solid $dark-green-spofity-lucid;
                    transform: scale(1);
                }
                .playing {
                    border-left: 40px solid $green-spofity;
                    transform: scale(1.5);
                }
            }
        }
        & > img {
            width: 90%;
        }
    }
    h3 {
        margin-top: 10px;
        color: white;
        font-size: 0.9em;
        font-family: $font-spofity;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        a {
            display: block;
            text-decoration: none;
            p {
                color: $light-gray-spofity;
                font-family: $font-spofity;
                font-size: 0.9em;
                margin: 0 3px 0 3px;
                transition: 0.5s;
                &:hover {
                    color: $green-spofity;
                    font-size: 0.94em;
                }
            }
        }
    }
    & > p {
        margin: 0px 0 5px 0;
        font-family: $font-spofity;
        font-size: 0.8em;
        color: $light-gray-spofity;
    }
    & > a {
        text-decoration: none;
        & > h4 {
            color: white;
            font-family: $font-spofity;
            margin: 5px 0 10px 0;
            transition: 0.5s;
            font-size: 0.9em;
            font-weight: 600;
            text-align: center;
            &:hover {
                color: $green-spofity;
                font-size: 0.92em;
            }
        }
    }
}

.genre, .artist, .playlist {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 10px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-card;
    transition: 0.5s;
    a {
        text-decoration: none;
        width: 100%;
        padding: 25px;
    }
    h3 {
        color: $green-spofity;
        font-family: $font-spofity;
        font-weight: 800;
        padding: 0;
        transition: 0.5s;
    }
    &:hover {
        background-color: $green-spofity;
        transform: scale(1.05);
        h3 {
            color: $dark-green-spofity;
            transform: scale(1.2);
        }
    }
}

.artist {
    height: 150px;
}

.reproductor {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.playlist {
    height: 100px;
    h3 {
        font-size: 1.1em;
    }
    p {
        text-align: center;
        color: $light-gray-spofity;
        font-family: $font-spofity;
        font-size: 0.7em;
        font-weight: 400;
        margin: 10px 0 0 0 ;
    }
}

.discover-grid {
    h1 {
        color: white;
        font-family: $font-spofity;
        margin-left: 25px;
    }
    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.single-album {
    .info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        img {
            width: 100%;
            margin: 25px;
        }
        & > div {
            margin: 50px;
            h1 {
                color: white;
                font-family: $font-spofity;
                font-size: 4em;
                font-weight: 800;
            }
            a {
                text-decoration: none;
                p {
                    color: white;
                    font-family: $font-spofity;
                    font-size: 2em;
                    font-weight: 600;
                    transition: 0.5s;
                }
                &:hover {
                    p {
                        color: $green-spofity;
                        font-size: 2.1em;
                    }
                }
            }
            & > p {
                color: white;
                font-family: $font-spofity;
                margin: 25px 0 0 0;
            }
        }
    }
    .single-album-songs {
        display: flex;
        flex-direction: column;
        & > p {
            color: white;
            font-family: $font-spofity;
            font-size: 1.1em;
            margin: 25px;
            font-weight: 400;
        }
    }
}

.simple-song {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 5px 25px 5px 25px;
    box-shadow: $box-shadow-card;
    height: 50px;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    transition: 0.5s;
    .simple-play-song {
        display: flex;
        cursor: pointer;
        align-items: center;
        & > button {
            background-color: rgba(0, 0, 0, 0.25);
            width: 50px;
            border: 0;
            height: 100%;
            transition: 0.5s;
            div {
                width: 0;
                height: 0;
                display: block;
                position: relative;
                left: 10px;
                border-left: 20px solid transparent;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                transition: 0.5s;
            }
            .playing {
                border-left: 20px solid $green-spofity;
                transform: scale(1.5);
            }
        }
        h3 {
            color: white;
            font-family: $font-spofity;
            padding: 0;
            margin-left: 15px;
            font-size: 1.05em;
            transition: 0.5s;
        }
        .playing-title {
            color: $green-spofity;
        }
        &:hover {
            & > button {
                div {
                    border-left: 20px solid $dark-green-spofity-lucid;
                    transform: scale(1);
                }
                .playing {
                    border-left: 20px solid $green-spofity;
                    transform: scale(1.5);
                }
            }
            h3 {
                color: $green-spofity;
            }
        }
    }
    .simple-song-artists {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            p {
                color: white;
                font-family: $font-spofity;
                margin-right: 15px;
                transition: 0.5s;
            }
            &:hover {
                p {
                    color: $green-spofity;
                    transform: scale(1.05);
                }
            }
        }
    }
    & > p {
        color: white;
        align-self: center;
        font-family: $font-spofity;
    }
}

.warningbox {
	text-align: center;
    font-family: $font-spofity;
    color: rgb(255, 238, 0) !important;
}

.single-artist {
    & > h1 {
        color: white;
        font-family: $font-spofity;
        font-weight: 800;
        font-size: 4em;
        margin-left: 25px;
    }
    & > p {
        color: white;
        font-family: $font-spofity;
        margin-left: 50px;
        font-size: 2em;
    }
    .single-artist-albums {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 25px
    }
    .single-artist-songs {
        margin: 25px;
    }
}