/**Universidad del Valle de Guatemala
Bases de Datos
Fernando Garavito 18071
Martin España 19258
Julio Herrera 19402
Login/SignUp CSS
**/
$green-spofity: #32d055;
$font-spofity: 'Montserrat', sans-serif;
$dark-green-spofity: #1f8535;


form{
	width: 30%;
	padding: 25px;
	margin-top: 25px;
    box-shadow: 0 0 15px white;
	p {
		font-family: $font-spofity;
		font-weight: 600;
		color: $dark-green-spofity;
	}
	input {
		font-family: $font-spofity;
	}
}
.login_box, .signup_box{
	background-color: white;
	width: 100%;
	min-height: calc(100vh - 75px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h3 {
        font-family: $font-spofity;
		font-size: 2em;
		color: $green-spofity;
	}
}
h3{
	margin: 0;
	padding: 50px 0 20px;
	font-size:15px;
	color:#5ee74c;
	text-align: center;

}

p{
	margin: 0;
	padding:0;
}

input[type="text"], input[type="password"], input[type="email"]{
	border:none;
	background-color: rgb(230, 230, 230); 
	border-radius: 25px;
	outline:none;
	padding: 0 25px 0 25px;
	width: 100%;
	box-sizing: border-box;
	height:40px;
	font-size: 1em;
	margin-top: 5px;
	margin-bottom: 30px;
}
input[type="submit"]{
	width: 100%;
	box-sizing: border-box;
	height:40px;
	border:none;
	outline:none;
	font-size: 1em;
	border-radius: 25px;
	font-weight: bold;
	background-color: $green-spofity;
}
input[type="submit"]:hover{
	cursor:pointer;
	background-color:$dark-green-spofity; 
}



.errorbox {
	color: red;
	text-align: center;
}

.goSignup {
	text-align: center;
	span{
		font-weight: bold;
	}
}