$midnight-blue: #7e4dda;
$dark-red: #8b0000;
$light-green: #94ce3d;
$foreground: black;
$green-spofity: #32d055;
$font-spofity: 'Montserrat', sans-serif;
$dark-green-spofity: #1f8535;
$dark-gray-font: rgb(68, 68, 68);
$light-gray-spofity: rgb(226, 226, 226);

@mixin set-margins-to-zero {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes change-grad-color{
    0%{
        background-position: top left;
    }

    100%{
        background-position: bottom right;
    }
}

@keyframes change-text-grad{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}

body{
    min-height: 100vh;
    margin: 0;
    color: #333;
    background: #ddd;
    background-image: linear-gradient(to top left, $midnight-blue, $light-green, $midnight-blue);
    background-size: 400%;
    animation: change-grad-color 20s infinite alternate;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px -5px black;
    z-index: 1 !important;
    img {
        width: 90px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 3em;
        font-weight: 800;
    }
}

.title-content{
    background: $foreground;
    width: 500px;
    padding: 2em;
    margin-top: -3%;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.title{
    margin: 0 0 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 6rem;
    color: #ee6352;
    line-height: 0.8;
    margin: 0;

    background-image: linear-gradient(to right, $midnight-blue, $dark-red, $light-green, $dark-red, $midnight-blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-size: 300%;
    animation: change-text-grad 7s infinite alternate;

}

.option-bar{
    height: 550px;
    width: 200px;
    background-color: $foreground;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 2%;
    overflow-y: auto;
    opacity: 0.7;
    .playlist-search-bar{
        width: 125px;
        margin: 15px;
        margin-left: 15px;
        border-radius: 10px;
    }
    .playlist-search-img{
        height: 20px;
        width: 20px;
        position: absolute;
        left: 235px;
        top: 180px;
        border-radius: 10px;
        background-color: white;
    }
    .premium-option{
        height: 100px;
        width: 180px;
        margin: 10px;
        border-radius: 30px;
        background-color: gold;
        font-size: 32px;
        font-style: italic;
    }
    .add-playlist-option{
        background-color: gold;
        height: 40px;
        width: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    .playlist{
        background-color: white;
        height: auto;
        width: 180px;
        margin: 10px;
        border-radius: 10px;
    
        .playlist-name{
            margin: 5px;
            text-align: center;
        }
    }
}

.content-container{
    background-color: $foreground;
    opacity: 0.7;
    overflow-x: hidden;
    overflow-y: scroll;

    .song-search-bar{
        border-radius: 25px;
        background-image: url('../res/searchIcon.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin: 25px;
        width: calc(100% - 50px);
        box-sizing: border-box;
        background-position: calc(100% - 10px);
    }
}

.page-container{
    height: calc(100vh - 75px);
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.user-options {
    background-color: white;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
    }
    .section-selector {
        height: 40px;
        padding-left: 25px;
        display: flex;
        align-items: center;
        p {
            font-family: $font-spofity;
            font-weight: 600;
            color: $green-spofity;
        }
    }
    .selected {
        background-color: $light-gray-spofity;
        padding-left: 30px;
        p {
            color: $dark-green-spofity;
        }
    }
    .premium-button {
        background-color: $green-spofity;
        border-radius: 25px;
        height: 40px;
        margin: 20px;
        box-shadow: 0 5px 20px -8px black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        p {
            color: $dark-green-spofity;
            font-family: $font-spofity;
            font-weight: 800;
            transition: 0.2s;
        }
        &:hover {
            transform: scale(1.1);
            p {
                font-size: 1.1em;
            }
        }
    }
}

.song{
    margin: 5%;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
    .song-img{
        height: 100px;
        width: 100px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .song-name{
        color: black;
        margin-left: 70px;
        margin-top: 0%;
    }
    .song-artist{
        color:black;
        margin-left: 65px;
        margin-top: -10%;
    }
}

.statistics {
    h1 {
        font-family: $font-spofity;
        color: white;
        margin: 0 0 0 25px;
    }
}